{% extends '../templates/base.html' %}

{% block content %}
    <p>(Note: This is a temporary register template)</p>
  <h2>Sign up</h2>
  {% if form.errors %}
    {% for field in form %}
        {% for error in field.errors %}
            <div class="alert alert-danger">
                <strong>{{ error|escape }}</strong>
            </div>
        {% endfor %}
    {% endfor %}
  {% endif %}
{% if mail_flag %}
  <div class="alert alert-danger">
                <strong>Mail already exists</strong>
            </div>
  {% endif %}
    <form method="post">
      {% csrf_token %}
      {% for field in form %}
        <p>
          {{ field.label_tag }}<br>
          {{ field }}
        </p>
      {% endfor %}
      <button class="btn-primary" type="submit">Sign up</button>
    </form>

{% endblock %}

