 <!-- % extends '../templates/base.html' %}-->
{% load static %}


<!DOCTYPE html>
<html lang="en">
<head>
    <title>Register | Dumblr</title>
    <meta charset="utf-8">

    <!-- Bootstrap -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">

        <!-- CSS -->
    <link rel="stylesheet" href="{% static 'tumblr/css/register.css' %}">

</head>



<body>

{% block content %}

 <div id="fullBg2" />
    <div class="container" style="position: relative ; top: 250px; ";>

  {% if form.errors %}
    {% for field in form %}
        {% for error in field.errors %}
            <div class="alert alert-danger">
                <strong>{{ error|escape }}</strong>
            </div>
        {% endfor %}
    {% endfor %}
  {% endif %}
{% if mail_flag %}
  <div class="alert alert-danger">
                <strong>Mail already exists</strong>
            </div>
  {% endif %}
    <form action="" class="form-signup" method="post">
      {% csrf_token %}

        <img src="{% static 'tumblr/images/tumblr image.png' %}"  style=" width: 232px; height: 50px;  position:relative;left:20px; top:-30px;" alt="signuplogo">
         <!--
         <input type="text" class="form-control" name="email" placeholder="Email" required="" autofocus=""style="opacity: 1; color: rgba(0,0,0,0.91) "/>
         <input type="text" class="form-control" name="password1" placeholder="Username" required="" autofocus=""style="opacity: 1; color: rgba(0,0,0,0.91) "/>

         <input type="text" class="form-control" name="password2" placeholder="Password confirmation" required="" autofocus=""style="opacity: 1; color: rgba(0,0,0,0.91) "/>
         <input type="text" class="form-control" name="username" placeholder="Username" required="" autofocus=""style="opacity: 1; color: rgba(0,0,0,0.91) "/>
        -->


        {% for field in form %}
        <p>
          {{ field.label_tag }}<br>
          {{ field }}
        </p>
      {% endfor %}
      <button class="btn btn-lg btn-primary btn-block" type="submit" style="position:relative;top: 10px;">Sign up</button>
    </form>
    </div>
{% endblock %}

