{% load filters %}

<div class="row" style="background-color:white;margin-left: 0px;margin-right: 0px;border-top-left-radius:3px;border-top-right-radius:3px;">
    <hr style="width:100%;border-top: 15px solid transparent;margin-top: 0px;
    margin-bottom: 0px;">


    <a href="/profile/{{ user }}"><p style="margin-left:25px;font-family:Helvetica Neue;font-weight: bold;">{{ user }}</p></a>


    <hr style="width:100%;border-top: 15px solid transparent;margin-top: 0px;
    margin-bottom: 0px;">
</div>
<a class="show_link" target="_blank" href="https://{{ link|remove_prefix }}" style="background-color: rgb(242,242,242); padding: 20px; width: 100%; display: block;">
    {{link|remove_prefix}}
</a>
<style>.show_link:hover{text-decoration: none; color: black;}</style>
<div class="row" style="background-color:white;margin-left: 0px;margin-right: 0px;border-bottom-left-radius:3px;border-bottom-right-radius:3px;">
    <hr style="width:100%;border-top: 15px solid transparent;margin-top: 0px;
    margin-bottom: 0px;">



    <hr style="width:100%;border-top: 15px solid transparent;margin-top: 0px;
    margin-bottom: 0px;">
</div>