<div class="row" style="background-color:white;margin-left: 0px;margin-right: 0px;border-top-left-radius:3px;border-top-right-radius:3px;">
    <hr style="width:100%;border-top: 15px solid transparent;margin-top: 0px;
    margin-bottom: 0px;">


    <a href="/profile/{{ user }}"><p style="margin-left:25px;font-family:Helvetica Neue;font-weight: bold;">{{ user }}</p></a>


    <hr style="width:100%;border-top: 15px solid transparent;margin-top: 0px;
    margin-bottom: 0px;">
</div>
<div width="100%" style="background-color: white; padding-left: 20px;">
    <span style="font-family: 'Times New Roman', Times, serif; font-size: 50px">“{{ quote }}”</span><br>
    <span>— {{ source }}</span>
</div><div class="row" style="background-color:white;margin-left: 0px;margin-right: 0px;border-bottom-left-radius:3px;border-bottom-right-radius:3px;">
    <hr style="width:100%;border-top: 15px solid transparent;margin-top: 0px;
    margin-bottom: 0px;">



    <hr style="width:100%;border-top: 15px solid transparent;margin-top: 0px;
    margin-bottom: 0px;">
</div>