<div class="row" style="background-color:white;margin-left: 0px;margin-right: 0px;border-top-left-radius:3px;border-top-right-radius:3px;">
    <hr style="width:100%;border-top: 15px solid transparent;margin-top: 0px;
    margin-bottom: 0px;">


    <a href="/profile/{{ user }}"><p style="margin-left:25px;font-family:Helvetica Neue;font-weight: bold;">{{ user }}</p></a>


    <hr style="width:100%;border-top: 15px solid transparent;margin-top: 0px;
    margin-bottom: 0px;">
</div>
<img src="media/{{ image_file }}" width="100%"><div class="row" style="background-color:white;margin-left: 0px;margin-right: 0px;border-bottom-left-radius:3px;border-bottom-right-radius:3px;">
    <hr style="width:100%;border-top: 15px solid transparent;margin-top: 0px;
    margin-bottom: 0px;">



    <hr style="width:100%;border-top: 15px solid transparent;margin-top: 0px;
    margin-bottom: 0px;">
</div>