/* Common styles for all the upload modals */

/* The buttons for uploading images, videos, etc. */
.upload-button {
    background-color: white;
    border-color: white;
    color: rgba(0, 0, 0, 0.65);
    margin-top: 0;
    margin: 0;
    width: 80px;
}
.upload-button:hover {
    background-color: white;
    border-color: white;
    color: rgba(0, 0, 0, 0.65);
}
.upload-button-icon {
    font-family: 'tumblrIcons';
    font-size: 48px;
}

/* Pop-up effect on hover simulated with <hr> */
.upload-button hr {
    border-top: 2px solid transparent;
    margin: 0;
    padding: 0;
}
.upload-button .hr-under {
    display: none;
}
.upload-button:hover .hr-under {
    display: block;
}
.upload-button:hover .hr-over {
    display: none;
}

/* Specific to each type */
#textUpload .upload-button-icon {
    color: rgb(0, 0, 0);
}

#imageUpload .upload-button-icon {
    color: rgb(255, 73, 47);
}

#quoteUpload .upload-button-icon {
    color: rgb(255, 138, 0);
}

#linkUpload .upload-button-icon {
    color: rgb(0, 207, 53);
}

#chatUpload .upload-button-icon {
    color: rgb(0, 184, 255);
}

#audioUpload .upload-button-icon {
    color: rgb(124, 92, 255);
}

#videoUpload .upload-button-icon {
    color: rgb(255, 98, 206);
}

/* The bar that contains all the upload buttons */
#upload-bar {
    background-color: white;
    display: inline-block;
    border-radius: 12px;
    padding: 0;
}

.upload-modal {
    display: none; /* Hidden by default, only displayed when some upload button is clicked */
    width: 590px;
    border-radius: 12px;
    margin: 0;
    z-index: 30;
}

.upload-modal .modal-dialog, .upload-modal .modal-content {
    padding: 0;
    margin: 0;
    border-radius: 12px;
    width: 590px;
    z-index: 30;
}

.upload-error {
    display: block;
    color: red;
}

#link, #text-title, #text, #chat-title, #chat, #quote, #source {
    border: none;
}
#link:focus, #text-title:focus, #text:focus, #chat-title:focus, #chat:focus, #quote, #source {
    outline: none;
    box-shadow: none;
}

/* quote */

#quoteWrap {
    white-space: nowrap;
}

#quoteWrap::before {
    content: "“";
    display: inline;
    color: black;
    font-family: 'Helvetica Neue,HelveticaNeue,Helvetica,Arial,sans-serif';
    font-size: 50px;
}

#quoteWrap::after {
    content: "”";
    display: inline;
    color: black;
    font-family: 'Helvetica Neue,HelveticaNeue,Helvetica,Arial,sans-serif';
    font-size: 50px;
}

#quote {
    width: 90%;
    display: inline-block;
    white-space: nowrap;
    color: black;
    font-family: 'Helvetica Neue,HelveticaNeue,Helvetica,Arial,sans-serif';
    font-size: 50px;
}

/* source */

#sourceWrap {
    white-space: nowrap;
}

#sourceWrap::before {
    content: "— ";
    display: inline;
    color: black;
    font-family: 'Helvetica Neue,HelveticaNeue,Helvetica,Arial,sans-serif';
}

#source {
    width: 90%;
    display: inline-block;
    white-space: nowrap;
    color: black;
    font-family: 'Helvetica Neue,HelveticaNeue,Helvetica,Arial,sans-serif';
}

#source {
    color: black;
    font-family: 'Helvetica Neue,HelveticaNeue,Helvetica,Arial,sans-serif';
}

#close_btn_quote {
    position: absolute;
    left: 15px;
}