{% load static %}
{% load upload_audio %}
{% load upload_chat %}
{% load upload_image %}
{% load upload_link %}
{% load upload_quote %}
{% load upload_text %}
{% load upload_video %}



<!DOCTYPE html>
<html lang="en">
    <head>
        <title>{% if not request.user.is_authenticated %}Sign up | {% endif %}Dumblr</title>
        <meta charset="utf-8">
        <!-- Bootstrap -->
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
        <!-- CSS -->

        <link rel="stylesheet" href="{% static 'tumblr/css/fonts.css' %}">
        <link rel="stylesheet" href="{% static 'tumblr/css/login.css' %}">
        <link rel="stylesheet" href="{% static 'tumblr/css/index.css' %}">
        <link rel="stylesheet" href="{% static 'tumblr/css/upload_quotes.css' %}">
        <link rel="stylesheet" href="{% static 'tumblr/css/original.css' %}">

        {% if request.user.is_authenticated %}
            <link rel="stylesheet" href="{% static 'tumblr/css/dashboard.css' %}">
            <link rel="stylesheet" href="{% static 'tumblr/css/upload.css' %}">
            <script src="{% static 'tumblr/js/upload.js' %}"></script>
            <script src="{% static 'tumblr/js/quotes.js' %}"></script>
        {% endif %}
        <!-- JS -->
        <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>
    </head>
    <body>
        {% if request.user.is_authenticated %}

        <!-- div used to hide background when opening an upload form. -->
        <div id="curtain"></div>

        <!-- <a href="{% url 'logout' %}" class="btn btn-lg btn-primary btn-block btn-link" style="color: white;">Sign out</a> -->


            <nav class="navbar fixed-top navbar-light bg-light">
                <div style="overflow:hidden">
                    <a style="float:left;padding-left:5px" class="navbar-brand" href="/"><img width="20px" src="{% static 'tumblr/images/t_logo.png' %}"></a>
                    <form style="float:left;padding-top:5px" type="GET" class="form-inline my-2 my-lg-0" action="{% url 'search_user'%}">
                        <input id="search_box" class="form-control mr-sm-2" style="width:450px;color: #000;background:#425166;border-color: transparent;" type="search" placeholder="&#128269; Buscar en Tumblr" aria-label="Search" name="search">
                        <button style="visibility:hidden;" class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
                    </form>
                </div>
                <div class="navbar-buttons" class="ml-auto">
                    <a href="{% url 'profile' %}">
                        <span class="username">{{ request.user.username }}</span> &#xEAA6;
                    </a>
                    <a href="{% url 'logout' %}">&#x2717;</a>
                </div>

            </nav>



        {% else %}


        {% endif %}

        <div id="dashboard-content" class="container">
        <div class="row text-center">
                    {%if user_found%}
                        {%for i in user_found%}
                            <div class="col-lg-3 col-md-3 mb-3">
                                <div class="card h-100">
                                    {% if i.picture.url != None%}
                                        <img class="card-img-top" src="{{ i.picture.url }}" alt="">
                                    {% else %}
                                        <img width="100%" src="{% static 'tumblr/images/profile_image_default.png' %}">
                                    {% endif %}
                                    <div class="card-body">

                                    </div>
                                    <div class="card-footer">
                                        <a href="{% url 'searched_profile' i.username %}" >{{i.username}}</a>
                                    </div>
                                </div>
                            </div>

                        {%endfor%}
                    {%else%}
                        <h3 style="color:white">User not found!</h3>
                    {%endif%}
        </div>
        </div>
    </body>
</html>