<!-- Button trigger modal -->
  <button type="button" id="linkUpload" class="btn btn-primary upload-button" onclick="displayUpload('link')">
    <hr class="hr-over">
    <span class="upload-button-icon">&#xEA70;</span><br>
    <hr class="hr-under">
    <span class="upload-button-caption">Link</span>
  </button>

<!-- Modal -->
<div class="upload-modal" id="linkModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Link Uploader</h5>
            </div>
            <div class="modal-body">
                <form enctype="multipart/form-data" method="POST" action="{% url 'link_upload'%}">
                    {% csrf_token %}
                    <div class="form-group">
                        <input type="text" class="form-control" name="link" id="link" placeholder='Type or paste a URL'>
                        <input type="hidden" name="origin" value="{{ request.path|urlencode }}">
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" id="close_btn_link" onclick="hideUploads();">Close</button>
                        <input type="submit" class="btn btn-primary" value="Upload"/>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>