<!-- Button trigger modal -->
  <button type="button" id="chatUpload" class="btn btn-primary upload-button" onclick="displayUpload('chat')">
    <hr class="hr-over">
    <span class="upload-button-icon">&#xEA6C;</span><br>
    <hr class="hr-under">
    <span class="upload-button-caption">Chat</span>
  </button>

<!-- Modal -->
<div class="upload-modal" id="chatModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Chat Uploader</h5>
      </div>
      <div class="modal-body">
          <form enctype="multipart/form-data" method="POST" action="{% url 'chat_upload'%}">
              {% csrf_token %}
              <div class="form-group">
                  <input style="color:black; font-size: xx-large" type="text" class="form-control" name="chat-title" id="chat-title" placeholder='Title'>
                  <textarea style="color:black; height: 150px;font-family:monospace;" class="form-control" name="chat" id="chat" placeholder='Your text here'></textarea>
              </div>
          </form>
      </div>
        <div class="modal-footer">
        <button type="button" class="btn btn-secondary" onclick="hideUploads();">Close</button>
        <button type="button" class="btn btn-primary">Save changes</button>
      </div>
    </div>
  </div>
</div>