<!-- Button trigger modal -->
  <button type="button" id="quoteUpload" class="btn btn-primary upload-button" data-toggle="modal" onclick="displayUpload('quote')">
    <hr class="hr-over">
    <span class="upload-button-icon">&#xEA75;</span><br>
    <hr class="hr-under">
    <span class="upload-button-caption">Quote</span>
  </button>
<!-- Modal -->
<div class="upload-modal" id="quoteModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Quote Uploader</h5>
      </div>
      <div class="modal-body">
          <form enctype="multipart/form-data" method="POST" action="{% url 'quote_upload'%}">
              {% csrf_token %}
              <div class="form-group">
                  <span id="quoteWrap"><input type="text" class="form-control" name="quote" id="quote" placeholder='Quote' onchange="addQuotationMarks()"></span>
                  <span id="sourceWrap"><input type="text" class="form-control" name="source" id="source" placeholder="Source" onchange="addSource()"></span>
                  <input type="hidden" name="origin" value="{{ request.path|urlencode }}">
              </div>


      </div>
        <div class="modal-footer">
        <button type="button" class="btn btn-secondary" id="close_btn_quote" onclick="hideUploads();">Close</button>
            <input type="submit" class="btn btn-primary" value="Upload"/>
  </form>
      </div>
    </div>
  </div>
</div>