<!-- Button trigger modal -->
  <button type="button" id="linkUpload" class="btn btn-primary upload-button" onclick="displayUpload('link')">
    <hr class="hr-over">
    <span class="upload-button-icon">&#xEA70;</span><br>
    <hr class="hr-under">
    <span class="upload-button-caption">Link</span>
  </button>

<!-- Modal -->
<div class="upload-modal" id="linkModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Modal title</h5>
      </div>
      <div class="modal-body">
          <h1>Link Uploader</h1>
                <form enctype="multipart/form-data" method="POST" action="{% url 'link_upload'%}">
                {% csrf_token %}
                {{ link_form.as_p }}
                <input type="submit" value="Upload"/>
                </form>

      </div>
        <div class="modal-footer">
        <button type="button" class="btn btn-secondary" onclick="hideUploads();">Close</button>
        <button type="button" class="btn btn-primary">Save changes</button>
      </div>
    </div>
  </div>
</div>