<!-- Button trigger modal -->
  <button type="button" id="imageUpload" class="btn btn-primary upload-button" onclick="displayUpload('image')">
    <hr class="hr-over">
    <span class="upload-button-icon">&#xEA73;</span><br>
    <hr class="hr-under">
    <span class="upload-button-caption">Photo</span>
  </button>

<!-- Modal -->
<div class="upload-modal" id="imageModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Image Uploader</h5>
      </div>
      <div class="modal-body media-upload media-dropzone media-container">
                <p class="upload-centered-text">Upload File</p>
                <form enctype="multipart/form-data" method="POST" action="{% url 'image_upload'%}">
                {% csrf_token %}
                {{ image_form.as_p }}
                <input type="hidden" name="origin" value="{{ request.path|urlencode }}">
      </div>
        <div class="modal-footer">
        <button type="button" class="btn btn-secondary" onclick="hideUploads();">Close</button>
        <input type="submit" class="btn btn-primary" value="Upload"/>
        </form>
      </div>
    </div>
  </div>
</div>